.message {
    padding: 10px;
    margin: 10px;
    width: fit-content;
    
}

.message_user{
    margin-left: auto;
    color: white;
    text-align: left !important;
}

.message_userCard{
    background-color: rgb(173, 241, 94)!important;
    font-size: 12px !important;
   
}

.message_guestCard{
    background-color: skyblue !important;
    
}

.logo {
    margin-top: 1.5em;
    width: 15vw;
    
}